@using APPBASE.Helpers

@model APPBASE.Models.UserloginVM

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.ValidationSummary(true)
    <div class="box box-solid">
        <div class="box-header">
            <h2 class="box-title">Ganti Password</h2>
            <img style="display: block; margin: 0 auto;" src="@Url.Content("~/")Images/logo.png" alt="@ViewBag.Appname" />            
        </div>
        
        <div class="box-body">
            <div class="form-group">
                @Html.TextBoxFor(fld => fld.USERNAME, new { @class = "form-control", @placeholder = "Username", @value=hlpConfig.SessionInfo.getAppUsername() })
                @Html.ValidationMessageFor(fld => fld.USERNAME)
            </div>
            <div class="form-group">
                @Html.PasswordFor(fld => fld.PASSWORD, new { @class = "form-control", @placeholder = "Type current password" })
                @Html.ValidationMessageFor(fld => fld.PASSWORD)
            </div>          

            <div class="form-group">
                @Html.PasswordFor(fld => fld.PASSWORD_NEW1, new { @class = "form-control", @placeholder = "Type new password" })
                @Html.ValidationMessageFor(fld => fld.PASSWORD_NEW1)
            </div>          
            <div class="form-group">
                @Html.PasswordFor(fld => fld.PASSWORD_NEW2, new { @class = "form-control", @placeholder = "Retype new password" })
                @Html.ValidationMessageFor(fld => fld.PASSWORD_NEW2)
            </div>          
        </div>
        <div class="box-footer">
            <div style="margin-bottom:5px;"><button type="submit" class="btn btn-primary btn-block">Simpan</button></div>
            <a href="@Url.Action("Login", "Account")" class="btn btn-warning btn-block">Batal</a>
        </div>
    </div>
}

