@model APPBASE.Models.UserloginVM

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.ValidationSummary(true)
    <div class="box box-solid">
        <div class="box-header">
            <h2 class="box-title"></h2>
            <img style="margin-top:20px; width:30%; height: 30%;" src="@Url.Content("~/")Images/logo.png" alt="@ViewBag.Appname" />            
        </div>
        
        <div class="box-body">
            <div class="form-group">
                @Html.TextBoxFor(fld => fld.USERNAME, new { @class = "form-control", @placeholder = "Username" })
                @Html.ValidationMessageFor(fld => fld.USERNAME)
            </div>
            <div class="form-group">
                @Html.PasswordFor(fld => fld.PASSWORD, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(fld => fld.PASSWORD)
            </div>          
        </div>
        <div class="box-footer">
            <div style="margin-bottom:5px;"><button type="submit" class="btn btn-primary btn-block">Sign In</button></div>
        </div>
    </div>
}

