@model APPBASE.Models.ClassroomdetailVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["CLASSTYPE_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="CLASSTYPE_ID">Kelas</label>
                <select id="CLASSTYPE_ID" name="CLASSTYPE_ID" class="form-control select2" data-placeholder="Select CLASSTYPE_ID" style="width: 100%;" @vsReadonlyTextbox>
                    <option selected value=""></option>
                    @foreach (var item in ViewBag.CLASSTYPE)
                    {

                        if (Model.CLASSTYPE_ID == item.ID) {<option selected value="@item.ID">@item.CLASSTYPE_NAME</option> }
                        else {<option value="@item.ID">@item.CLASSTYPE_NAME</option> }
                    }
                </select>

            @if (ViewData.ModelState["CLASSTYPE_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("CLASSTYPE_ID1")
                    </label>
            }
            @if (ViewData.ModelState["CLASSTYPE_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("CLASSTYPE_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
    
<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["CLASSROOM_CODE0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="CLASSROOM_CODE">Kode Kelompok</label>
            <input type="text" id="CLASSROOM_CODE" name="CLASSROOM_CODE" value="@Html.DisplayFor(model => model.CLASSROOM_CODE)" class="form-control" maxlength = "15" @vsReadonlyTextbox />

            @if (ViewData.ModelState["CLASSROOM_CODE1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("CLASSROOM_CODE1")
                    </label>
            }
            @if (ViewData.ModelState["CLASSROOM_CODE2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("CLASSROOM_CODE2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["CLASSROOM_NAME0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="CLASSROOM_NAME">Nama Kelompok</label>
            <input type="text" id="CLASSROOM_NAME" name="CLASSROOM_NAME" value="@Html.DisplayFor(model => model.CLASSROOM_NAME)" class="form-control" maxlength = "60" @vsReadonlyTextbox />

            @if (ViewData.ModelState["CLASSROOM_NAME1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("CLASSROOM_NAME1")
                    </label>
            }
            @if (ViewData.ModelState["CLASSROOM_NAME2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("CLASSROOM_NAME2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["CLASSROOM_DESC0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="CLASSROOM_DESC">Deskripsi Singkat</label>
            <textarea id="CLASSROOM_DESC" name="CLASSROOM_DESC" class="form-control" maxlength="500" @vsReadonlyTextbox>@Html.DisplayFor(model => model.CLASSROOM_DESC)</textarea>


            @if (ViewData.ModelState["CLASSROOM_DESC1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("CLASSROOM_DESC1")
                    </label>
            }
            @if (ViewData.ModelState["CLASSROOM_DESC2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("CLASSROOM_DESC2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12 col-md-2">
        @if (ViewData.ModelState["CLASSROOM_VOLUME0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="CLASSROOM_VOLUME">Kapasitas</label>
            <input type="text" id="CLASSROOM_VOLUME" name="CLASSROOM_VOLUME" value="@Html.DisplayFor(model => model.CLASSROOM_VOLUME)" class="form-control data-mask-integer" maxlength = "3" @vsReadonlyTextbox />

            @if (ViewData.ModelState["CLASSROOM_VOLUME1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("CLASSROOM_VOLUME1")
                    </label>
            }
            @if (ViewData.ModelState["CLASSROOM_VOLUME2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("CLASSROOM_VOLUME2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
