@model IEnumerable<APPBASE.Models.EducationlookupVM>

@{
    ViewBag.Title = "Daftar Pendidikan";
    Layout = "~/Views/Shared/_LayoutLookup.cshtml";
}

<div class="row">
    <div class="col-xs-12">

                @if (Model == null) { 
                    <table class="table table-hover">
                        <tr>
                            <td style="width:100%;text-align:center;">@{Html.RenderPartial("_PartialEmpty");}</td>
                        </tr>
                    </table>
                }

                @if (Model != null)
                {

                <div class="input-group">
                    <input type="text" name="searchValue" id="searchValue" class="form-control input-sm pull-right FieldEnableAlways" placeholder="Filter Data "/>
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                @foreach (var item in Model)
                {
                    <tr class="LOOKUPROW">
                        <td class="SEARCHABLE_ROWS" style="width:50%;">
                            @Html.DisplayFor(modelItem => item.LOV_DESC)
                            <input type="hidden" class="ID" value="@Html.DisplayFor(modelitem => item.ID)" />
                            <input type="hidden" class="CODE" value="" />
                            <input type="hidden" class="DESC" value="@Html.DisplayFor(modelitem => item.LOV_DESC)" />
                        </td>
                    </tr>
                }
                    </tbody>
                </table>
                }

    </div><!-- /.col-xs-12 -->
</div>



<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        $("#DialogLookupTitle").text("@ViewBag.Title");
        doSearchAbleTable('#searchValue', '', '.SEARCHABLE_ROWS');
        $("#DialogLookupWait").hide();

        /*=========================================
        EVENTS
        =========================================*/
        $(".LOOKUPROW").click(function () {
            var vsID = $(this).children().children(".ID").val();
            var vsCODE = $(this).children().children(".CODE").val();
            var vsDESC = $(this).children().children(".DESC").val();

            var vsID_TAG = '@ViewBag.ID_TAG';
            var vsCODE_TAG = '@ViewBag.CODE_TAG';
            var vsDESC_TAG = '@ViewBag.DESC_TAG';
            if (isEmptyString(vsID_TAG) != true) { $('#' + vsID_TAG).val(vsID); }
            if (isEmptyString(vsCODE_TAG) != true) { $('#' + vsCODE_TAG).val(vsCODE); }
            if (isEmptyString(vsDESC_TAG) != true) { $('#' + vsDESC_TAG).val(vsDESC); }
            $('#DialogLookup').modal('hide')
        }); //End  $(".LOOKUPROW").click()
    });   //End $(document).ready
</script>

