@model APPBASE.Models.Transaction_indetailVM
@using APPBASE.Helpers
@using APPBASE.Models

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

Recieve By : @Model.RECEIPT_RECEIVEDBY
<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["RECEIPT_PAIDBY0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <input type="text" id="RECEIPT_PAIDBY" name="RECEIPT_PAIDBY" value="@Html.DisplayFor(model => model.RECEIPT_PAIDBY)" class="form-control" maxlength = "50" placeholder="Sudah Terima Dari" @vsReadonlyTextbox />

            @if (ViewData.ModelState["RECEIPT_PAIDBY1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("RECEIPT_PAIDBY1")
                    </label>
            }
            @if (ViewData.ModelState["RECEIPT_PAIDBY2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("RECEIPT_PAIDBY2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->