@model APPBASE.Models.Transaction_indetailVM
@using APPBASE.Helpers
@using APPBASE.Models

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<!-- Table row -->
<div class="row">
    <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Jenis Pembayaran</th>
                    <th>Rincian Pembayaran</th>
                    <th>Jumlah Pembayaran</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DETAIL == null) {
                    <tr>
                        <td colspan="3">Tidak ada transaksi</td>
                    </tr>
                }
                @if (Model.DETAIL != null) {
                    foreach (var item in Model.DETAIL)
                    {
                        <tr>
                            <td>@item.TRINTYPE_DESC</td>
                            <td>@item.TRND_DESC</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-8">
                                        Rp. <span class="pull-right">@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(item.TRND_AMOUNT)</span>                                    
                                    </div>
                                    <div class="col-md-4">
                                        <div class="btn-group">
                                            <button type="button" class="btnTrintype_edit btn btn-flat btn-warning" value="@item.TRINTYPE_ID"><i class="fa fa-edit"></i></button>
                                            <button type="button" class="btnTrintype_delete btn btn-flat btn-danger" value="@item.TRINTYPE_ID"><i class="fa fa-trash-o"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div><!-- /.col -->
</div><!-- /.row -->
