@model APPBASE.Models.Transaction_indetailVM
@using APPBASE.Helpers
@using APPBASE.Svcutil

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    @Html.HiddenFor(model => model.STUDENT_ID, new { id = "STUDENT_ID" })
    <div class="col-xs-6">
        @if (ViewData.ModelState["STUDENT_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="STUDENT_NAME">Pilih Siswa</label>
            <div class="input-group input-group-sm">
                <input type="text" id="STUDENT_NAME" name="STUDENT_NAME" value="@Html.DisplayFor(model => model.STUDENT_NAME)" class="form-control" placeholder="Pilih Siswa" readonly />
                <span class="input-group-btn">
                    <button type="button" id="cmdLookupSTUDENT_ID" name="cmdLookupSTUDENT_ID" class="btn btn-info btn-flat" data-toggle="modal" data-target="#DialogLookup" @vsDisableButton><i class="fa fa-search"></i></button>
                </span>
            </div><!-- /input-group -->

            
            @if (ViewData.ModelState["STUDENT_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("STUDENT_ID1")
                    </label>
            }
            @if (ViewData.ModelState["STUDENT_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("STUDENT_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-6 -->
</div><!-- /.row -->
