@model APPBASE.Models.Transaction_indetailVM

@using APPBASE.Helpers
@using APPBASE.Svcutil
@using APPBASE.Svcbiz
@{int nNO = 0;}


<!-- title row -->
<div class="row">
    <div class="col-xs-12">
        <h4 class="page-header">
            @{Html.RenderPartial("_PartialLetterHeader");}
        </h4>
    </div><!-- /.col -->
</div>

<!-- header row -->
<div class="row invoice-info">
    <div class="col-xs-12 invoice-col">
        Tanggal : @hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(Model.TRN_DT)<br />
        Sudah Terima Dari : @Html.DisplayFor(fld => fld.RECEIPT_PAIDBY) ( @Model.STUDENT_NAME ) <br />
        Unit              : @Html.DisplayFor(fld => fld.CLASSROOM_DESC)<br />
    </div><!-- /.col -->
</div>

<!-- table row -->
<div class="row">
    <div class="col-xs-12 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="text-align:center;">NO</th>
                    <th style="text-align:center;">JENIS PEMBAYARAN</th>
                    <th style="text-align:center;">RINCIAN</th>
                    <th style="text-align:center;">JUMLAH</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.DETAIL == null) {
                    <tr>
                        <td>@{Html.RenderPartial("_PartialEmpty");}</td>
                    </tr>
                }
                @foreach (var item in Model.DETAIL)
                {
                    nNO++;
                    
                    <tr>
                        <td><span class="pull-right">@nNO</span></td>
                        <td><span>@Html.DisplayFor(modelitem => item.TRINTYPE_DESC)</span></td>
                        <td><span>@Html.DisplayFor(modelitem => item.TRND_DESC)</span></td>
                        <td>Rp. <span class="pull-right">@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(item.TRND_AMOUNT)</span></td>
                    </tr>
                }
                <tr>
                    <td colspan="3"><span class="pull-right"><strong>Total Bayar </strong></span></td>
                    <td><strong>Rp. <span class="pull-right">@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(Model.TRN_AMOUNT)</span></strong></td>
                </tr>
            </tbody>
        </table>
    </div><!-- /.col -->
</div>

<!-- Footer -->
<div class="row">
    <div class="col-xs-8">
        <span style="display:none;">@hlpConvertionAndFormating.ConvertDecimalToTerbilang(Model.TRN_AMOUNT)</span>
    </div><!-- /.col -->
    <div class="col-xs-4">
        Tangsel, @hlpConvertionAndFormating.ConvertDateToStringLongFmt(Model.TRN_DT)

        <br />
        <span>Diterima oleh,</span>
        <br /><br /><br /><br />
        <span>&nbsp;@Html.DisplayFor(model => model.RECEIPT_RECEIVEDBY)</span>
    </div><!-- /.col -->
</div>


<!-- Footnote -->
<div class="row">
    <div class="col-xs-12">
        <br /><br />
        <span style="font-style:italic;">Kwitansi harap disimpan sebagai bukti pembayaran</span>
    </div><!-- /.col -->
</div>
