@model APPBASE.Models.Transaction_indetailVM
@using APPBASE.Helpers
@using APPBASE.Svcutil
@using APPBASE.Svcbiz
@{int nNO = 0;}

<!-- title Table -->
<table width="700pt">
<!-- title row -->
    <tr class="title">
        <td colspan="3" style="text-align:center;">KWITANSI PEMBAYARAN</td>
    </tr>
    <tr class="title">
        <td colspan="3" style="text-align:center;">SD – SMP – SMA – SMK</td>
    </tr>
    <tr class="title">
        <td colspan="3" style="text-align:center;"></td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>
<!-- header row -->
    <tr>
        <td style="width:10pt;">1.</td>
        <td style="width:90pt;">Nama Siswa</td>
        <td style="width:600pt;">: @Html.DisplayFor(fld => fld.RECEIPT_PAIDBY) ( @Model.STUDENT_NAME )</td>
    </tr>
    <tr>
        <td>2.</td>
        <td>Unit</td>
        <td>: @Html.DisplayFor(fld => fld.CLASSROOM_DESC)</td>
    </tr>
    <tr>
        <td>3.</td>
        <td>Tahun Ajaran</td>
        <td>: @Html.DisplayFor(fld => fld.YEAR_SHORTDESC)</td>
    </tr>

    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
        <td colspan="3">Untuk pembayaran :</td>
    </tr>
</table>

<!-- content table -->
<table width="700pt">
    @if (Model.DETAIL == null)
    {
        <tr>
            <td colspan="3">
                @{Html.RenderPartial("_PartialEmpty");}
            </td>
        </tr>
    }
    @foreach (var item in Model.DETAIL)
    {
        nNO++;
                    
        <tr>
            <td style="text-align:right; width:15pt;">@nNO.</td>
            <td style="padding-left:15pt;">@Html.DisplayFor(modelitem => item.TRINTYPE_DESC) - @Html.DisplayFor(modelitem => item.TRND_DESC)</td>
            <td style=" text-align:right;">: Rp. <span style="text-align:right;">@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(item.TRND_AMOUNT)</span></td>
        </tr>
    }
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
        <td colspan="3" align="right"><span style="padding-right:50pt;">Total pembayaran</span> : Rp. <span style="text-align:right;">@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(Model.TRN_AMOUNT)</span></td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr><td colspan="3">&nbsp;</td></tr>

<!-- Footer -->
    <tr><td colspan="3" style="padding-left:400pt;">Tangsel, @hlpConvertionAndFormating.ConvertDateToStringMMMFmt(Model.TRN_DT)</td></tr>
    <tr><td colspan="3" style="padding-left:400pt;">Diterima oleh,</td></tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr><td colspan="3">&nbsp;</td></tr>

    <tr><td colspan="3" style="padding-left:400pt;">@Html.DisplayFor(model => model.RECEIPT_RECEIVEDBY)</td></tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    
    <tr><td colspan="3" style="padding-left:0pt; font-style: italic;">Kwitansi harap disimpan sebagai bukti pembayaran</td></tr>
</table>
