@model APPBASE.Models.ReportinVM

@using APPBASE.Helpers
@using APPBASE.Svcutil
@using APPBASE.Svcbiz

@{Boolean isNewgroup = true; decimal? nSubtotal = 0; decimal? nAlltotal = 0; int nNumber = 0;}

<!-- title row -->
<div class="row">
    <div class="col-xs-12">
        <h2 class="page-header">
            <div style="text-align:center;">
                <div>REKAP TOTAL SETORAN ADMINISTRASI</div>
                <div>YAYASAN PENDIDIKAN</div>
                <div>TAHUN AJARAN 2016/2017</div>
            </div>
        </h2>
    </div><!-- /.col -->
</div>

<!-- table row -->
<div class="row">
    <div class="col-xs-12 table-responsive">
                @if (Model.RECAP2 == null)
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align:center;">No.</th>
                                <th style="text-align:center;">Nama Siswa</th>
                                <th style="text-align:center;">Kelas</th>
                                <th style="text-align:center;">Rincian Bayar</th>
                                <th style="text-align:center;">Jumlah</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>@{Html.RenderPartial("_PartialEmpty");}</td>
                            </tr>
                        </tbody>
                    </table>
                }


                @foreach (var Group in Model.RECAP2.GroupBy(fld => fld.TRINTYPE_ID))
                {
                    <div>
                        <span><strong>Pembayaran @Group.FirstOrDefault().TRINTYPE_SHORTDESC</strong></span>
                        <span class="pull-right"><strong>@hlpConvertionAndFormating.ConvertDateToStringDayIDLongFmt(Model.TRN_DT)</strong></span>
                    </div>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align:center;">No.</th>
                                <th style="text-align:center;">Nama Siswa</th>
                                <th style="text-align:center;">Kelas</th>
                                <th style="text-align:center;">Rincian Bayar</th>
                                <th style="text-align:center;">Jumlah</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{nSubtotal = 0; nNumber = 0;}


                            @foreach (var item in Group.OrderBy(fld => fld.CLASSLEVEL_NUM).
                                ThenBy(fld => fld.STUDENT_NAME).ThenBy(fld => fld.TRN_DT).ToList())
                            {
                                nNumber++;

                                <tr>
                                    <td style="text-align:center;"><span class="pull-right">@nNumber</span></td>
                                    <td>@Html.DisplayFor(modelitem => item.STUDENT_NAME)</td>
                                    <td>@Html.DisplayFor(modelitem => item.CLASSROOM_SHORTDESC)</td>
                                    <td>@Html.DisplayFor(modelitem => item.TRND_DESC)</td>
                                    <td>Rp. <span class="pull-right">@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(item.TRND_AMOUNT)</span></td>
                                </tr>
                                
                                
                                nSubtotal = nSubtotal + item.TRND_AMOUNT;
                                nAlltotal = nAlltotal + item.TRND_AMOUNT;
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-10"><span class="pull-right"><strong>Sub Total</strong></span></div>
                        <div class="col-xs-2"><strong>Rp. <span class="pull-right">@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(nSubtotal)</span></strong> </div>
                    </div>
                    <br /><br /><br />
                }
    </div><!-- /.col -->
</div>

<!-- title row -->
<div class="row">
    <div class="col-xs-12">
        <h4 class="page-header pull-right">
            TOTAL KESELURUHAN PENERIMAAN Rp. @hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(nAlltotal)
        </h4>
    </div><!-- /.col -->
</div>
