@model APPBASE.Models.StudentVM
@using APPBASE.Helpers
@using APPBASE.Svcutil

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
 <div class="col-sm-12">
  @if ((Model != null) && (Model.DETAIL != null))
  {
   <img id="imgSTUDENT_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Student(Model.DETAIL.STUDENT_IMG)" class="img-thumbnail" alt="Foto" />
  }
  else
  {
   <img id="imgSTUDENT_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_StudentNA()" class="img-thumbnail" alt="Foto" />
  }
  @if (ViewData.ModelState["STUDENT_IMG0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = "has-error"; }
  <div class="form-group @vsErrClass">
   @Html.HiddenFor(model => model.DETAIL.STUDENT_IMG)
   @if (ViewData.ModelState["STUDENT_IMG1"] != null)
   {
     <label class="control-label" for="inputError">
     <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("STUDENT_IMG1")
     </label>
   }
   @if (ViewData.ModelState["STUDENT_IMG2"] != null)
   {
     <label class="control-label" for="inputError">
     <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("STUDENT_IMG2")
     </label>
   }
  </div>
  @if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.UPDATE))
  {
   <!-- Upload Photo btn -->
   <button type="button" id="cmdSTUDENT_IMG" name="cmdSTUDENT_IMG" class="btn btn-primary btn-flat btn-block">Upload Photo</button>
  }
  <span id="FileContainerSTUDENT_IMG"><input type="file" id="FileSTUDENT_IMG" name="FileSTUDENT_IMG" accept="image/*; capture=camera" /></span>
 </div><!-- /.col (LEFT) -->
</div><!-- /.row -->
