@model APPBASE.Models.StudentVM
@using APPBASE.Helpers
@using APPBASE.Svcapp

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["STUDENTSTS_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="STUDENTSTS_ID">Status Kesiswaan (Aktif/Pindah/Lulus)</label>
                <select id="STUDENTSTS_ID" name="DETAIL.STUDENTSTS_ID" class="form-control select2" data-placeholder="Pilih Status Kesiswaan" style="width: 100%;" @vsReadonlyTextbox>
                    <option selected value=""></option>
                    @foreach (var item in ViewBag.STUDENTSTS)
                    {

                        if (Model.DETAIL.STUDENTSTS_ID == item.ID) {<option selected value="@item.ID">@item.LOV_DESC</option> }
                        else {<option value="@item.ID">@item.LOV_DESC</option> }
                    }
                </select>

            @if (ViewData.ModelState["STUDENTSTS_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("STUDENTSTS_ID1")
                    </label>
            }
            @if (ViewData.ModelState["STUDENTSTS_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("STUDENTSTS_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["IS_PINDAHAN0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="IS_PINDAHAN">Siswa Pindahan</label>
                <select id="IS_PINDAHAN" name="DETAIL.IS_PINDAHAN" class="form-control select2" data-placeholder="Select IS_PINDAHAN" style="width: 100%;" @vsReadonlyTextbox>
                    @if (Model.DETAIL.IS_PINDAHAN == null)
                    {<option selected value="0"></option> }
                    else
                    {
                        if (Model.DETAIL.IS_PINDAHAN == 0)
                        {<option selected value="0"></option> }
                        else
                        {<option value="0"></option> }
                    }
                    
                    @if (Model.DETAIL.IS_PINDAHAN == 1)
                    {<option selected value="1">YA</option> }
                    else
                    {<option value="1">YA</option> }
                </select>

            @if (ViewData.ModelState["IS_PINDAHAN1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("IS_PINDAHAN1")
                    </label>
            }
            @if (ViewData.ModelState["IS_PINDAHAN2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("IS_PINDAHAN2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
