@model APPBASE.Models.StudentVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz
@using APPBASE.Svcutil

<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title">List Data</h3>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th><input type="text" id="searchValue" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Filter Data"/></th>
                </tr>
            </thead>

            <tbody>
                @if (Model.LIST == null)
                {
                    <tr>
                        <td colspan="2" align="center">@{Html.RenderPartial("_PartialEmpty");}</td>
                    </tr>
                }

                @foreach (var item in Model.LIST)
                {
                    
                    <tr>
                        <td class="SEARCHABLE_ROWS" colspan="2">
                            <div class="row">
                                <div class="col-sm-12 col-md-2">
                                    <a href="@Url.Action("Details", new { id = item.ID })" style="color:#444444;">
                                        <img id="imgSTUDENT_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Student(item.STUDENT_IMG)" class="img-thumbnail" alt="Foto" />
                                    </a>
                                </div>
                                <div class="col-sm-12 col-md-10">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            Kelas
                                        </div>
                                        <div class="col-sm-11">
                                        : @Html.DisplayFor(modelItem => item.CLASSROOM_SHORTDESC)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1">
                                            NIS
                                        </div>
                                        <div class="col-sm-11">
                                        : @Html.DisplayFor(modelItem => item.NIS)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1">
                                            Nama
                                        </div>
                                        <div class="col-sm-11">
                                        : @Html.DisplayFor(modelItem => item.NAME)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->
