@model APPBASE.Models.Transaction_indetailVM
@using APPBASE.Helpers
@using APPBASE.Models

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}
@{Boolean isFirst = true;}

<div class="row">
    <div class="col-xs-8">
        @if (ViewData.ModelState["TRND_AMOUNT0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="TRND_AMOUNT">Jumlah Denda SPP</label>
            <input type="text" id="TRND_AMOUNT_S" name="TRND_AMOUNT_S" value="@Html.DisplayFor(model => model.TRND_AMOUNT)" class="form-control data-mask-decimal" style="text-align:right;"  @vsReadonlyTextbox />
            <input type="hidden" id="TRND_AMOUNT" name="TRND_AMOUNT" value="@Html.DisplayFor(model => model.TRND_AMOUNT)" class="form-control data-mask-decimal" style="text-align:right;"  @vsReadonlyTextbox />
            <input type="hidden" id="hidden_TRND_AMOUNT" name="hidden_TRND_AMOUNT" value="@Html.DisplayFor(model => model.TRND_AMOUNT)" />

            @if (ViewData.ModelState["TRND_AMOUNT1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("TRND_AMOUNT1")
                    </label>
            }
            @if (ViewData.ModelState["TRND_AMOUNT2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("TRND_AMOUNT2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-6">
        @if (ViewData.ModelState["MONTHSPP20"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="MONTHSPP2">Denda SPP dari bulan : </label>
            <div class="form-group @vsErrClass">
                    <select id="MONTHSPP2" name="MONTHSPP2" class="form-control select2" data-placeholder="Pilih Bulan" style="width: 100%;" @vsReadonlyTextbox>
                        <option selected value=""></option>
                        @foreach (var item in Model.MONTHLY_MONTHS)
                        {

                            if (isFirst)
                            {
                                isFirst = false;
                                <option selected value="@item.MONTHSPP_SEQNO">@item.MONTHSPP_SHORTDESC</option>
                            }
                            else {<option value="@item.MONTHSPP_SEQNO">@item.MONTHSPP_SHORTDESC</option> }
                        }
                    </select>

                @if (ViewData.ModelState["MONTHSPP21"] != null)
                {
                        <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("MONTHSPP21")
                        </label>
                }
                @if (ViewData.ModelState["MONTHSPP22"] != null)
                {
                        <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("MONTHSPP22")
                        </label>
                }
            </div> <!-- /.form-group -->

        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-6 -->


    <div class="col-xs-4">
        @if (ViewData.ModelState["MONTHSPP30"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="MONTHSPP3">Jumlah Bulan</label>
            <input type="number" id="MONTHSPP3" name="MONTHSPP3" value="1" class="form-control data-mask-integer" min="1" max="12"  @vsReadonlyTextbox />

            @if (ViewData.ModelState["MONTHSPP31"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("MONTHSPP31")
                    </label>
            }
            @if (ViewData.ModelState["MONTHSPP32"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("MONTHSPP32")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-3 -->
</div><!-- /.row -->
