@model APPBASE.Models.ReportinVM
@using APPBASE.Helpers
@using APPBASE.Svcutil

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-xs-3">
        @if (ViewData.ModelState["CLASSTYPE_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="CLASSTYPE_ID">SD/SMP/SMA/SMK</label>
                <select id="CLASSTYPE_ID" name="CLASSTYPE_ID" class="form-control select2" data-placeholder="" style="width: 100%;" @vsReadonlyTextbox>
                    <option selected value=""></option>
                    @foreach (var item in ViewBag.CLASSTYPE)
                    {

                        if (Model.CLASSTYPE_ID == item.ID) {<option selected value="@item.ID">@item.CLASSTYPE_SHORTDESC</option> }
                        else {<option value="@item.ID">@item.CLASSTYPE_CODE - @item.CLASSTYPE_SHORTDESC</option> }
                    }
                </select>

            @if (ViewData.ModelState["CLASSTYPE_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("CLASSTYPE_ID1")
                    </label>
            }
            @if (ViewData.ModelState["CLASSTYPE_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("CLASSTYPE_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div>
    <div class="col-xs-3">
        @if (ViewData.ModelState["TRN_DT0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="TRN_DT">Tanggal Transaksi</label>
            <input type="text" id="TRN_DT" name="TRN_DT" value="@Html.DisplayFor(model => model.TRN_DT)" class="form-control" @vsReadonlyTextbox data-inputmask="@vsDateFormat" data-mask />

            
            @if (ViewData.ModelState["TRN_DT1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("TRN_DT1")
                    </label>
            }
            @if (ViewData.ModelState["TRN_DT2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("TRN_DT2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-3 -->
    <div class="col-xs-5">
        @if (ViewData.ModelState["STUDENT_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="STUDENT_ID">NIS / NAMA</label>
                <select id="STUDENT_ID" name="STUDENT_ID" class="form-control select2" data-placeholder="" style="width: 100%;" @vsReadonlyTextbox>
                    <option selected value=""></option>
                    @foreach (var item in ViewBag.STUDENT)
                    {

                        if (Model.STUDENT_ID == item.ID) {<option selected value="@item.ID">
                        
                            <div class="row">
                                <div class="col-md-4">@item.NIS</div>
                                <div class="col-md-4">@item.NAME</div>
                            </div>
                        
                        </option> }
                        else {<option value="@item.ID">
                        
                            <div class="row">
                                <div class="col-md-4">@item.NIS</div>
                                <div class="col-md-4">@item.NAME</div>
                            </div>
                        
                        </option> }
                    }
                </select>

            @if (ViewData.ModelState["STUDENT_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("STUDENT_ID1")
                    </label>
            }
            @if (ViewData.ModelState["STUDENT_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("STUDENT_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-6 -->
</div><!-- /.row -->
