@model APPBASE.Models.ReportinVM

@using APPBASE.Helpers
@using APPBASE.Svcutil
@using APPBASE.Svcbiz

<!-- title row -->
<div class="row">
    <div class="col-xs-12">
        <h2 class="page-header">
            <div style="text-align:center;">
                <div>DATA PEMBAYARAN SISWA @Model.CLASSTYPE_CODE.ToUpper()</div>
                <div>YAYASAN PENDIDIKAN</div>
                <div>TAHUN AJARAN @Model.CACHE_YEAR_CODE</div>
            </div>
        </h2>
    </div><!-- /.col -->
</div>

<div class="row">
    <div class="col-xs-12 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>NIS</th>
                    <th>Nama</th>
                    <th><div>Jenis</div><div>Pembayaran</div></th>
                    <th><div>Bulan</div><div>Bayar</div></th>
                    <th><div>Tahun</div><div>Bayar</div></th>
                    <th><div>Tanggal</div><div>Bayar</div></th>
                    <th>JUMLAH BAYAR</th>
                    <th>KETERANGAN</th>
                </tr>
            </thead>

            <tbody>
                @if (Model == null) {
                    <tr>
                        <td colspan="8">@{Html.RenderPartial("_PartialEmpty");}</td>
                    </tr>
                }

                @foreach (var item in Model.DETAIL)
                {
                    
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.STUDENT_NIS)</td>
                        <td>@Html.DisplayFor(modelItem => item.STUDENT_NAME)</td>
                        <td>@Html.DisplayFor(modelItem => item.TRINTYPE_SHORTDESC)</td>
                        <td>@Html.DisplayFor(modelItem => item.TRN_DT.Value.Month)</td>
                        <td>@Html.DisplayFor(modelItem => item.TRN_DT.Value.Year)</td>
                        <td>@hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(item.TRN_DT)</td>
                        <td>Rp. <span class="pull-right">@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(item.TRND_AMOUNT)</span></td>
                        <td>@Html.DisplayFor(modelItem => item.TRND_DESC)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- /.col -->
</div>

