@model APPBASE.Models.EmployeedetailVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["EMPLHIST_COMPANY40"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_COMPANY4">Nama Perusahaan</label>
            <input type="text" id="EMPLHIST_COMPANY4" name="EMPLHIST_COMPANY4" value="@Html.DisplayFor(model => model.EMPLHIST_COMPANY4)" class="form-control" maxlength = "60" @vsReadonlyTextbox />

            @if (ViewData.ModelState["EMPLHIST_COMPANY41"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_COMPANY41")
                    </label>
            }
            @if (ViewData.ModelState["EMPLHIST_COMPANY42"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_COMPANY42")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["EMPLHIST_ADDR140"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        @if (ViewData.ModelState["EMPLHIST_ADDR240"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_ADDR14">Alamat</label>
            <div>
                <input type="text" id="EMPLHIST_ADDR14" name="EMPLHIST_ADDR14" value="@Html.DisplayFor(model => model.EMPLHIST_ADDR14)" class="form-control" maxlength = "90" @vsReadonlyTextbox />
                @if (ViewData.ModelState["EMPLHIST_ADDR141"] != null)
                {
                        <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_ADDR141")
                        </label>
                }
                @if (ViewData.ModelState["EMPLHIST_ADDR142"] != null)
                {
                        <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_ADDR142")
                        </label>
                }
            </div> <!-- Address 1 -->
            <div>
                <input type="text" id="EMPLHIST_ADDR24" name="EMPLHIST_ADDR24" value="@Html.DisplayFor(model => model.EMPLHIST_ADDR24)" class="form-control" maxlength = "90" @vsReadonlyTextbox />
                @if (ViewData.ModelState["EMPLHIST_ADDR241"] != null)
                {
                        <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_ADDR241")
                        </label>
                }
                @if (ViewData.ModelState["EMPLHIST_ADDR242"] != null)
                {
                        <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_ADDR242")
                        </label>
                }
            </div> <!-- Address 2 -->

        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-sm-12 col-md-8">
        @if (ViewData.ModelState["EMPLHIST_JOBTITLE40"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_JOBTITLE4">Jabatan</label>
            <input type="text" id="EMPLHIST_JOBTITLE4" name="EMPLHIST_JOBTITLE4" value="@Html.DisplayFor(model => model.EMPLHIST_JOBTITLE4)" class="form-control" maxlength = "60" @vsReadonlyTextbox />

            @if (ViewData.ModelState["EMPLHIST_JOBTITLE41"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_JOBTITLE41")
                    </label>
            }
            @if (ViewData.ModelState["EMPLHIST_JOBTITLE42"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_JOBTITLE42")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12  col-md-8 -->

    <div class="col-sm-12 col-md-2">
        @if (ViewData.ModelState["EMPLHIST_FROMDT40"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_FROMDT4">Dari Tanggal</label>
            <input type="text" id="EMPLHIST_FROMDT4" name="EMPLHIST_FROMDT4" value="@Html.DisplayFor(model => model.EMPLHIST_FROMDT4)" class="form-control" @vsReadonlyTextbox data-inputmask="@vsDateFormat" data-mask />
            @if (ViewData.ModelState["EMPLHIST_FROMDT41"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_FROMDT41")
                    </label>
            }
            @if (ViewData.ModelState["EMPLHIST_FROMDT42"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_FROMDT42")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12  col-md-2 -->

    <div class="col-sm-12 col-md-2">
        @if (ViewData.ModelState["EMPLHIST_TODT40"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_TODT4">Sampai Tanggal</label>
            <input type="text" id="EMPLHIST_TODT4" name="EMPLHIST_TODT4" value="@Html.DisplayFor(model => model.EMPLHIST_TODT4)" class="form-control" @vsReadonlyTextbox data-inputmask="@vsDateFormat" data-mask />
            @if (ViewData.ModelState["EMPLHIST_TODT41"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_TODT41")
                    </label>
            }
            @if (ViewData.ModelState["EMPLHIST_TODT42"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_TODT42")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12  col-md-2 -->

</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["EMPLHIST_JOBDESC40"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_JOBDESC4">Deskripsi Pekerjaan</label>
            <textarea id="EMPLHIST_JOBDESC4" name="EMPLHIST_JOBDESC4" class="form-control" maxlength="500" @vsReadonlyTextbox>@Html.DisplayFor(model => model.EMPLHIST_JOBDESC4)</textarea>


            @if (ViewData.ModelState["EMPLHIST_JOBDESC41"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_JOBDESC41")
                    </label>
            }
            @if (ViewData.ModelState["EMPLHIST_JOBDESC42"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_JOBDESC42")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

