@model APPBASE.Models.EmployeedetailVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["EMPLHIST_COMPANY30"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_COMPANY3">Nama Perusahaan</label>
            <input type="text" id="EMPLHIST_COMPANY3" name="EMPLHIST_COMPANY3" value="@Html.DisplayFor(model => model.EMPLHIST_COMPANY3)" class="form-control" maxlength = "60" @vsReadonlyTextbox />

            @if (ViewData.ModelState["EMPLHIST_COMPANY31"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_COMPANY31")
                    </label>
            }
            @if (ViewData.ModelState["EMPLHIST_COMPANY32"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_COMPANY32")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["EMPLHIST_ADDR130"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        @if (ViewData.ModelState["EMPLHIST_ADDR230"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_ADDR13">Alamat</label>
            <div>
                <input type="text" id="EMPLHIST_ADDR13" name="EMPLHIST_ADDR13" value="@Html.DisplayFor(model => model.EMPLHIST_ADDR13)" class="form-control" maxlength = "90" @vsReadonlyTextbox />
                @if (ViewData.ModelState["EMPLHIST_ADDR131"] != null)
                {
                        <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_ADDR131")
                        </label>
                }
                @if (ViewData.ModelState["EMPLHIST_ADDR132"] != null)
                {
                        <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_ADDR132")
                        </label>
                }
            </div> <!-- Address 1 -->
            <div>
                <input type="text" id="EMPLHIST_ADDR23" name="EMPLHIST_ADDR23" value="@Html.DisplayFor(model => model.EMPLHIST_ADDR23)" class="form-control" maxlength = "90" @vsReadonlyTextbox />
                @if (ViewData.ModelState["EMPLHIST_ADDR231"] != null)
                {
                        <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_ADDR231")
                        </label>
                }
                @if (ViewData.ModelState["EMPLHIST_ADDR232"] != null)
                {
                        <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_ADDR232")
                        </label>
                }
            </div> <!-- Address 2 -->

        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-sm-12 col-md-8">
        @if (ViewData.ModelState["EMPLHIST_JOBTITLE30"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_JOBTITLE3">Jabatan</label>
            <input type="text" id="EMPLHIST_JOBTITLE3" name="EMPLHIST_JOBTITLE3" value="@Html.DisplayFor(model => model.EMPLHIST_JOBTITLE3)" class="form-control" maxlength = "60" @vsReadonlyTextbox />

            @if (ViewData.ModelState["EMPLHIST_JOBTITLE31"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_JOBTITLE31")
                    </label>
            }
            @if (ViewData.ModelState["EMPLHIST_JOBTITLE32"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_JOBTITLE32")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12  col-md-8 -->

    <div class="col-sm-12 col-md-2">
        @if (ViewData.ModelState["EMPLHIST_FROMDT30"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_FROMDT3">Dari Tanggal</label>
            <input type="text" id="EMPLHIST_FROMDT3" name="EMPLHIST_FROMDT3" value="@Html.DisplayFor(model => model.EMPLHIST_FROMDT3)" class="form-control" @vsReadonlyTextbox data-inputmask="@vsDateFormat" data-mask />
            @if (ViewData.ModelState["EMPLHIST_FROMDT31"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_FROMDT31")
                    </label>
            }
            @if (ViewData.ModelState["EMPLHIST_FROMDT32"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_FROMDT32")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12  col-md-2 -->

    <div class="col-sm-12 col-md-2">
        @if (ViewData.ModelState["EMPLHIST_TODT30"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_TODT3">Sampai Tanggal</label>
            <input type="text" id="EMPLHIST_TODT3" name="EMPLHIST_TODT3" value="@Html.DisplayFor(model => model.EMPLHIST_TODT3)" class="form-control" @vsReadonlyTextbox data-inputmask="@vsDateFormat" data-mask />

            
            @if (ViewData.ModelState["EMPLHIST_TODT31"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_TODT31")
                    </label>
            }
            @if (ViewData.ModelState["EMPLHIST_TODT32"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_TODT32")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12  col-md-2 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["EMPLHIST_JOBDESC30"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_JOBDESC3">Deskripsi Pekerjaan</label>
            <textarea id="EMPLHIST_JOBDESC3" name="EMPLHIST_JOBDESC3" class="form-control" maxlength="500" @vsReadonlyTextbox>@Html.DisplayFor(model => model.EMPLHIST_JOBDESC3)</textarea>


            @if (ViewData.ModelState["EMPLHIST_JOBDESC31"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_JOBDESC31")
                    </label>
            }
            @if (ViewData.ModelState["EMPLHIST_JOBDESC32"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_JOBDESC32")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

