@model APPBASE.Models.EmployeedetailVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["EMPLHIST_COMPANY20"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_COMPANY2">Nama Perusahaan</label>
            <input type="text" id="EMPLHIST_COMPANY2" name="EMPLHIST_COMPANY2" value="@Html.DisplayFor(model => model.EMPLHIST_COMPANY2)" class="form-control" maxlength = "60" @vsReadonlyTextbox />

            @if (ViewData.ModelState["EMPLHIST_COMPANY21"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_COMPANY21")
                    </label>
            }
            @if (ViewData.ModelState["EMPLHIST_COMPANY22"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_COMPANY22")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["EMPLHIST_ADDR120"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        @if (ViewData.ModelState["EMPLHIST_ADDR220"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_ADDR12">Alamat</label>
            
            <div>
                <input type="text" id="EMPLHIST_ADDR12" name="EMPLHIST_ADDR12" value="@Html.DisplayFor(model => model.EMPLHIST_ADDR12)" class="form-control" maxlength = "90" @vsReadonlyTextbox />
                @if (ViewData.ModelState["EMPLHIST_ADDR121"] != null)
                {
                        <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_ADDR121")
                        </label>
                }
                @if (ViewData.ModelState["EMPLHIST_ADDR122"] != null)
                {
                        <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_ADDR122")
                        </label>
                }
            </div> <!-- Address 1 -->
            
            <div>
                <input type="text" id="EMPLHIST_ADDR22" name="EMPLHIST_ADDR22" value="@Html.DisplayFor(model => model.EMPLHIST_ADDR22)" class="form-control" maxlength = "90" @vsReadonlyTextbox />
                @if (ViewData.ModelState["EMPLHIST_ADDR221"] != null)
                {
                        <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_ADDR221")
                        </label>
                }
                @if (ViewData.ModelState["EMPLHIST_ADDR222"] != null)
                {
                        <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_ADDR222")
                        </label>
                }
            </div> <!-- Address 2 -->

        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-sm-12 col-md-8">
        @if (ViewData.ModelState["EMPLHIST_JOBTITLE20"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_JOBTITLE2">Jabatan</label>
            <input type="text" id="EMPLHIST_JOBTITLE2" name="EMPLHIST_JOBTITLE2" value="@Html.DisplayFor(model => model.EMPLHIST_JOBTITLE2)" class="form-control" maxlength = "60" @vsReadonlyTextbox />

            @if (ViewData.ModelState["EMPLHIST_JOBTITLE21"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_JOBTITLE21")
                    </label>
            }
            @if (ViewData.ModelState["EMPLHIST_JOBTITLE22"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_JOBTITLE22")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 col-sm-12 col-md-8 -->

    <div class="col-sm-12 col-md-2">
        @if (ViewData.ModelState["EMPLHIST_FROMDT20"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_FROMDT2">Dari Tanggal</label>
            <input type="text" id="EMPLHIST_FROMDT2" name="EMPLHIST_FROMDT2" value="@Html.DisplayFor(model => model.EMPLHIST_FROMDT2)" class="form-control" @vsReadonlyTextbox data-inputmask="@vsDateFormat" data-mask />
            @if (ViewData.ModelState["EMPLHIST_FROMDT21"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_FROMDT21")
                    </label>
            }
            @if (ViewData.ModelState["EMPLHIST_FROMDT22"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_FROMDT22")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 col-sm-12 col-md-2 -->

    <div class="col-sm-12 col-md-2">
        @if (ViewData.ModelState["EMPLHIST_TODT20"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_TODT2">Sampai Tanggal</label>
            <input type="text" id="EMPLHIST_TODT2" name="EMPLHIST_TODT2" value="@Html.DisplayFor(model => model.EMPLHIST_TODT2)" class="form-control" @vsReadonlyTextbox data-inputmask="@vsDateFormat" data-mask />
            @if (ViewData.ModelState["EMPLHIST_TODT21"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_TODT21")
                    </label>
            }
            @if (ViewData.ModelState["EMPLHIST_TODT22"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_TODT22")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 col-sm-12 col-md-2 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["EMPLHIST_JOBDESC20"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="EMPLHIST_JOBDESC2">Deskripsi Pekerjaan</label>
            <textarea id="EMPLHIST_JOBDESC2" name="EMPLHIST_JOBDESC2" class="form-control" maxlength="500" @vsReadonlyTextbox>@Html.DisplayFor(model => model.EMPLHIST_JOBDESC2)</textarea>


            @if (ViewData.ModelState["EMPLHIST_JOBDESC21"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_JOBDESC21")
                    </label>
            }
            @if (ViewData.ModelState["EMPLHIST_JOBDESC22"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("EMPLHIST_JOBDESC22")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

