@{
    ViewBag.Appname = "Spayup version " + hlpConfig.SessionInfo.getAppVer();
}

@using APPBASE.Helpers
@using APPBASE.Svcapp
@using APPBASE.Svcbiz

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>@ViewBag.Appname | @ViewBag.Title</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        @Styles.Render("~/Content/cssLayout")

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            @Scripts.Render("~/bundles/modernizrAdminLTE")
        <![endif]-->

        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("includeTOP", required: false)
    </head>
    <body class="skin-blue">
        
        <!-- Untuk keperluan setting selected menu -->
        <input type="hidden" id="menuActive" value="@Url.RequestContext.HttpContext.Request.RawUrl" />

        <!-- header logo: style can be found in header.less -->
        <header class="header">
        
            <a href="@Url.Action("Index", "Home")" class="logo" style="padding:0 10px 0 10px;">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                <img style="width:auto; height: 90%; margin:0;" src="@Url.Content("~/")Images/logonavbar.png" alt="@ViewBag.Appname" />
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@Url.Action("Index", "Home")">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>
                                @if ((hlpConfig.SessionInfo.getAppUsrRES_NM() != "") && (hlpConfig.SessionInfo.getAppUsrRES_NM() != null))
                                {
                                    @hlpConfig.SessionInfo.getAppUsrRES_NM()
                                }
                                else
                                {
                                    @hlpConfig.SessionInfo.getAppUsername()
                                } <i class="caret"></i>
                                
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="@Url.Content("~/")App_DataUpload/EmpPhoto/@Utility_FileUploadDownload.getImage_User()" class="img-circle" alt="Foto User" />    
                                        @if ((hlpConfig.SessionInfo.getAppUsrRES_NM() != ""))
                                        {
                                            <p>
                                                @hlpConfig.SessionInfo.getAppUsrRES_NM() - @hlpConfig.SessionInfo.getAppUsrJOBTTL_NM()
                                                <small>@hlpConfig.SessionInfo.getAppUsrDEPT_NM()</small>
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                @hlpConfig.SessionInfo.getAppUsername()
                                            </p>
                                        }
                                                                                


                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="@Url.Action("LogOff", "Account")" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="@Url.Content("~/")App_DataUpload/EmpPhoto/@Utility_FileUploadDownload.getImage_User()" class="img-circle" alt="Foto User" />
                        </div>
                        <div class="pull-left info">
                            @if ((hlpConfig.SessionInfo.getAppUsrRES_NM() != "") && (hlpConfig.SessionInfo.getAppUsrRES_NM() != null))
                            {
                                <p>Apakabar,</p>
                                <p>@hlpConfig.SessionInfo.getAppUsrRES_NM()</p>
                            }
                            else
                            {
                                <p>Apakabar, @hlpConfig.SessionInfo.getAppUsername()</p>
                            }
                            

                            <a href="#"><i class="fa fa-circle text-success"></i> Selamat datang</a>
                        </div>
                    </div>
                    <!-- search form -->
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    @{Html.RenderPartial("_PartialMenu");}
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        @RenderSection("TitleIcon", required: false) @ViewBag.Title
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content @ViewBag.Print">
                    @RenderBody()
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

        @{Html.RenderPartial("_PartialJSVAR");}
        @Scripts.Render("~/bundles/JSLayout")
        @RenderSection("includeBOTTOM", required: false)

        <script type="text/javascript">
                //Set Active Menu
                var menuitem = $("#" + $("a[href$='" + $("#menuActive").val() + "']").attr("id"));
                menuitem.parent("li").parent("ul.treeview-menu").parent("li.treeview").addClass("active");
                menuitem.parent("li").addClass("active");
                $(".sidebar .treeview").tree();
        </script>
        @RenderSection("scripts", required: false)


    </body>
</html>
