@{
    ViewBag.Appname = "Spayup version " + hlpConfig.SessionInfo.getAppVer();
}

@using APPBASE.Helpers
@using APPBASE.Svcutil
@using APPBASE.Svcbiz

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>@ViewBag.Appname</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        <!-- csslayout -->
        <link href="@Url.Content("~/")Content/AdminLTE/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/")Content/AdminLTE/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/")Content/AdminLTE/css/ionicons.css" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/")Content/AdminLTE/css/AdminLTE_white.css" rel="stylesheet" type="text/css" />
        <!-- Bootstrap WYSIHTML5 -->
        <link rel="stylesheet" href="@Url.Content("~/")Content/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
        <!-- select2 -->
        <link rel="stylesheet" href="@Url.Content("~/")Content/AdminLTE/plugins/select2/select2.min.css" type="text/css" />

        <link href="@Url.Content("~/")Content/Site.css" rel="stylesheet" type="text/css" />
        


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="@Url.Content("~/")Scripts/AdminLTE/html5shiv.js"></script>
            <script src="@Url.Content("~/")Scripts/AdminLTE/respond.src.js"></script>
        <![endif]-->

        <script src="@Url.Content("~/")Scripts/modernizr-2.5.3.js"></script>
        @RenderSection("includeTOP", required: false)
    </head>
    <body class="skin-blue">
        
        <!-- Untuk keperluan setting selected menu -->
        <input type="hidden" id="menuActive" value="@Url.RequestContext.HttpContext.Request.RawUrl" />

        <!-- header logo: style can be found in header.less -->
        <header class="header">
        
            <a href="@Url.Action("Index", "Home")" class="logo" style="padding:0 10px 0 10px;">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                <img style="width:auto; height: 90%; margin:0;" src="@Url.Content("~/")Images/logonavbar.png" alt="@ViewBag.Appname" />
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@Url.Action("Index", "Home")">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>
                                @if ((hlpConfig.SessionInfo.getAppUserdisplayname() != "") && (hlpConfig.SessionInfo.getAppUserdisplayname() != null))
                                {
                                    @hlpConfig.SessionInfo.getAppUserdisplayname()
                                }
                                else
                                {
                                    @hlpConfig.SessionInfo.getAppUserdisplayname()
                                } <i class="caret"></i>
                                
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-blue">
                                    <img src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_User()" class="img-circle" alt="Foto User" />    
                                        @if ((hlpConfig.SessionInfo.getAppUserdisplayname() != ""))
                                        {
                                            <p>
                                                @hlpConfig.SessionInfo.getAppUserdisplayname()
                                                <small></small>
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                @hlpConfig.SessionInfo.getAppUsername()
                                            </p>
                                        }
                                                                                


                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="@Url.Action("Changepassword", "User", new { id = hlpConfig.SessionInfo.getAppUserId() })" class="btn btn-default btn-flat">Change Password</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("LogOff", "Account")" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    @{Html.RenderPartial("_PartialMenu");}
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        @RenderSection("TitleIcon", required: false) @ViewBag.Title
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content @ViewBag.Print">
                    @RenderBody()
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

        @{Html.RenderPartial("_PartialJSVAR");}

        <!-- JSLayout -->
        <script src="@Url.Content("~/")Scripts/jquery-2.1.1.js"></script>
        <script src="@Url.Content("~/")Scripts/AdminLTE/jquery-ui-1.10.3.js"></script>
        <script src="@Url.Content("~/")Scripts/bootstrap.js"></script>
        <script src="@Url.Content("~/")Scripts/AdminLTE/app.js"></script>
        <script src="@Url.Content("~/")Scripts/AdminLTE/demo.js"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="@Url.Content("~/")Content/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
        <!-- select2 -->
        <script src="@Url.Content("~/")Content/AdminLTE/plugins/select2/select2.full.min.js"></script>

        <script src="@Url.Content("~/")Scripts/json2.js"></script>
        <script src="@Url.Content("~/")Scripts/ud/jsHelper.js"></script>
        


        @RenderSection("includeBOTTOM", required: false)

        <script type="text/javascript">
            //Set Active Menu
            var menuitem = $("#" + $("a[href$='" + $("#menuActive").val() + "']").attr("id"));
            menuitem.parent("li").parent("ul.treeview-menu").parent("li.treeview").addClass("active");
            menuitem.parent("li").addClass("active");
            $(".sidebar .treeview").tree();
        </script>
        @RenderSection("scripts", required: false)


    </body>
</html>
