@{
    ViewBag.Appname = "Spayup version " + hlpConfig.SessionInfo.getAppVer();
}

@using APPBASE.Helpers
@using APPBASE.Svcapp
@using APPBASE.Svcbiz

<!DOCTYPE html>
<html lang="en" style="background-color:#5A5A5A;">
    <head>
        <meta charset="UTF-8">
        <title>@ViewBag.Appname</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        <!-- csslayout -->
        <link href="@Url.Content("~/")Content/AdminLTE/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/")Content/AdminLTE/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/")Content/AdminLTE/css/ionicons.css" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/")Content/AdminLTE/css/AdminLTE_green.css" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/")Content/Site.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="@Url.Content("~/")Scripts/AdminLTE/html5shiv.js"></script>
            <script src="@Url.Content("~/")Scripts/AdminLTE/respond.src.js"></script>
        <![endif]-->

        <script src="@Url.Content("~/")Scripts/modernizr-2.5.3.js"></script>
        @RenderSection("includeTOP", required: false)
    </head>
    <body style="background-color:#5A5A5A;">
        
        <!-- Untuk keperluan setting selected menu -->
        <input type="hidden" id="menuActive" value="@Url.RequestContext.HttpContext.Request.RawUrl" />
        @RenderBody()

        @{Html.RenderPartial("_PartialJSVAR");}
        <!-- JSLayoutLogin -->
        <script src="@Url.Content("~/")Scripts/jquery-2.1.1.js"></script>
        <script src="@Url.Content("~/")Scripts/bootstrap.js"></script>
        
        @RenderSection("includeBOTTOM", required: false)
        @RenderSection("scripts", required: false)


    </body>
</html>
