@model APPBASE.Models.UserdetailHQVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}


<div class="row">
    @Html.HiddenFor(model => model.RES_ID, new { id = "RES_ID" })
    <div class="col-xs-12">
        @if (ViewData.ModelState["RES_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="RES_NAME">Pilih Karyawan</label>


            <div class="input-group input-group-sm">
                <input type="text" id="RES_NAME" name="RES_NAME" value="@Html.DisplayFor(model => model.RES_NAME)" class="form-control" readonly />
                <span class="input-group-btn">
                    <button type="button" id="cmdLookupRES_ID" name="cmdLookupRES_ID" class="btn btn-info btn-flat" data-toggle="modal" data-target="#DialogLookup" @vsDisableButton><i class="fa fa-search"></i></button>
                </span>
            </div><!-- /input-group -->

            
            @if (ViewData.ModelState["RES_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("RES_ID1")
                    </label>
            }
            @if (ViewData.ModelState["RES_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("RES_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
<div class="row">
    <div class="col-sm-12 col-md-6">
        @if (ViewData.ModelState["RES_NIP0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="RES_NIP">Nomor Induk Karyawan</label>
            <input type="text" id="RES_NIP" name="RES_NIP" value="@Html.DisplayFor(model => model.RES_NIP)" class="form-control" maxlength = "20" readonly />

            @if (ViewData.ModelState["RES_NIP1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("RES_NIP1")
                    </label>
            }
            @if (ViewData.ModelState["RES_NIP2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("RES_NIP2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
    <div class="col-sm-12 col-md-6">
        @if (ViewData.ModelState["JOBTITLE_DESC0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="JOBTITLE_DESC">Jabatan</label>
            <input type="text" id="JOBTITLE_DESC" name="JOBTITLE_DESC" value="@Html.DisplayFor(model => model.JOBTITLE_DESC)" class="form-control" maxlength = "30" readonly />

            @if (ViewData.ModelState["JOBTITLE_DESC1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("JOBTITLE_DESC1")
                    </label>
            }
            @if (ViewData.ModelState["JOBTITLE_DESC2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("JOBTITLE_DESC2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
