@model APPBASE.Models.UserChangepasswordVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-sm-6">
        @if (ViewData.ModelState["USERNAME0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="USERNAME">Username</label>
            <input type="text" id="USERNAME" name="USERNAME" value="@Html.DisplayFor(model => model.USERNAME)" class="form-control VARCHAR" maxlength = "30" @vsReadonlyTextbox />

            @if (ViewData.ModelState["USERNAME1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("USERNAME1")
                    </label>
            }
            @if (ViewData.ModelState["USERNAME2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("USERNAME2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
<div class="row">
    <div class="col-sm-6">
        @if (ViewData.ModelState["PASSWORD0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="PASSWORD">Password Lama</label>
            <input type="password" id="PASSWORD" name="PASSWORD" value="@Html.DisplayFor(model => model.PASSWORD)" class="form-control VARCHAR" maxlength = "100" @vsReadonlyTextbox />

            @if (ViewData.ModelState["PASSWORD1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PASSWORD1")
                    </label>
            }
            @if (ViewData.ModelState["PASSWORD2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PASSWORD2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
<div class="row">
    <div class="col-sm-6">
        @if (ViewData.ModelState["PASSWORD_NEW0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="PASSWORD_NEW">Password Baru</label>
            <input type="password" id="PASSWORD_NEW" name="PASSWORD_NEW" value="@Html.DisplayFor(model => model.PASSWORD_NEW)" class="form-control" maxlength = "50" @vsReadonlyTextbox />

            @if (ViewData.ModelState["PASSWORD_NEW1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PASSWORD_NEW1")
                    </label>
            }
            @if (ViewData.ModelState["PASSWORD_NEW2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PASSWORD_NEW2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
<div class="row">
    <div class="col-sm-6">
        @if (ViewData.ModelState["PASSWORD_RETYPENEW0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="PASSWORD_RETYPENEW">Re-type Password Baru</label>
            <input type="password" id="PASSWORD_RETYPENEW" name="PASSWORD_RETYPENEW" value="@Html.DisplayFor(model => model.PASSWORD_RETYPENEW)" class="form-control" maxlength = "50" @vsReadonlyTextbox />

            @if (ViewData.ModelState["PASSWORD_RETYPENEW1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PASSWORD_RETYPENEW1")
                    </label>
            }
            @if (ViewData.ModelState["PASSWORD_RETYPENEW2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("PASSWORD_RETYPENEW2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
